<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY APP</title>
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>

    <div id="app">
        <h1> Express, I AM the one who NODES! </h1>
    </div>

<div id="interactionRow">
    <div class="tiles" id="square1">
        <h2>Add Quote </h2>
        <form action="/quotes" method="POST">
            <input type="text" placeholder="name" name="name">
            <input type="text" placeholder="quote" name="quote">
            <button type="submit">Submit</button>
        </form>
    </div>

    <div tile="tiles" id="square2">
        <h2>It's Saul Good...Man.</h2>
        <p>
          Replace Walters's quote with a quote by Saul Goodman.
        </p>
        <button id="update-button">Replace the quote</button>
    </div>

    <div tile="tiles" id="square3">
        <h2>Fire Saul Goodman!</h2>
        <p>
          Delete one of Saul Goodman's quote. Does nothing if there are no more Saul Goodman quote.
        </p>
        <button id="delete-button">Delete Saul Goodman's quote</button>
            <div id="message"></div>
      </div>
</div>

    <div>
            <h2> Quotes </h2>

            <ul class="quotes">
                <% for(var i = 0; i < quotes.length; i++) {%>
                    <li class="quote">
                        <span><%= quotes[i].name %></span>:
                        <span><%= quotes[i].quote %></span>
                    </li>
                <% } %>
            </ul>
    </div>
   <script src="/main.js"></script>
</body>
</html>